
#loader {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-animation-name: animateloader;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes animateloader {
  from { top:-100px; opacity:0 } 
  to { top:0px; opacity:1 }
}

@keyframes animateloader { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #0d0121;
}
::-webkit-scrollbar-thumb {
  background-color: #8cfffb;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00a8f3;
}